---
import MainLayout from '../layouts/MainLayout.astro';
import Discord from '../components/Discord.astro';
import Navbar from '../components/Navbar.astro';
---

<MainLayout title="IamASaneIndividual.com" description="Never gonna give you up\nnever gonna let you down\nnever gonna run around\nand desert you">
	<Navbar />
	<main>
		<h1>BreadCat Site</h1>
		<p>What the fuck do I put here</p>
		<div class="discord">
			<Discord name="Pet Rescue" 
			invite="RG53CB9ykN" 
			header="https://i.imgur.com/GMZYk6c.jpg" 
			pic="https://i.imgur.com/cb7w4lU.jpeg"
			desc="Join our Pet Rescue Project for the newest Updates"/>
		</div>
	</main>
</MainLayout>

<style>
	main {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
    h1 {
        font-size: 9vw;
        color: #ff8c00;
        background: -webkit-linear-gradient(rgb(var(--accent)), rgb(var(--accent-light)));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
	p {
		font-size: 2vw;
		color: #ff8c00;
		background: white;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		margin-top: -1rem;
	}
	.discord {
		width: 40%;
		padding: 3rem;
	}
	@media (max-width: 768px) {
		h1 {
			font-size: 15vw;
		}
		p {
			font-size: 5vw;
		}
		.discord {
			width: 90%;
		}
	}

</style>
