---
import MainLayout from '../layouts/MainLayout.astro';
import Discord from '../components/Discord.astro';
---

<MainLayout title="IamASaneIndividual.com">
	<main>
		<h1>BreadCat Site</h1>
		<p>What the fuck do I put here</p>
		<div class="discord">
			<Discord name="Pet Rescue" 
			invite="RG53CB9ykN" 
			header="https://i.imgur.com/GMZYk6c.jpg" 
			pic="http://blogs.nicholas.duke.edu/birds/files/2015/03/cute-cat-Imgur.jpg"
			desc="Join our Pet Rescue Project for the newest Updates"/>
		</div>
	</main>
</MainLayout>

<style>
	main {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
    h1 {
        font-size: 9vw;
        color: #ff8c00;
        background: -webkit-linear-gradient(rgb(var(--accent)), rgb(var(--accent-light)));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
	p {
		font-size: 2vw;
		color: #ff8c00;
		background: white;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		/*move it closer to the h1*/
		margin-top: -1rem;
	}
	/*make the discord div fit the screen by 50%*/
	.discord {
		width: 40%;
		/*give it a little padding*/
		padding: 3vw;
	}
</style>
