---
export interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="icon" type="image/svg+xml" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<meta content={title} property="og:title" />
		<meta content="Site Description" property="og:description" />
		<meta content={Astro.url} property="og:url" />
		<meta content="https://i.imgur.com/4clqUdj.jpg" property="og:image" />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style is:global>
	:root {
		--accent: 249, 83, 0;
		--accent-light: 240, 152, 25;
		--accent-gradient: linear-gradient(90deg, rgb(var(--accent)), rgb(var(--accent-light)));
		--bg-color: rgb(34, 34, 35);
	}
	html {
		font-family: system-ui, sans-serif;
		background-color: var(--bg-color);
		color: white;
	}

	code {
		font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
			Bitstream Vera Sans Mono, Courier New, monospace;
	}
</style>